.topicsItem{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 20px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    & > a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;
        text-decoration: none;
        color:#64616B;
        transition: 0.2s;

        &:hover{
            color: var(--background-purple);
            background-color: #FAF1FF;
        }
    
    }
}
