.choose_specialization_window{
    width: 100%;
    height: 100%;

    max-width: 1000px;
    max-height: 700px;
    background-color: white;

    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;

    display: flex !important;
    flex-direction: column;

    border-radius: 25px;

   transform: translate(-50%, -50%);

    border: 3px solid #CECECE;
    overflow: hidden;

    & > header{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
        width: 100%;
        min-height: 67px;
        background-color: #6B5798;
    }

    .specializations{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        gap: 35px;
        padding: 17px;

        .left_block, .right_block{
            display: flex;
            flex-direction: column;
            width: 50%;
            min-height: 200px;
            border: 2px solid #CECECE;
            border-radius: 25px;
            overflow: hidden;

            & > button{
                height: 100%;
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 20px;

                &:hover{
                    background-color: #f4e5fd;
                    color: #6B5798;
                }
            }

        }

    }

    .buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 147px;

        margin-bottom: 37px;

        & > button{
            width: 217px;
            height: 35px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            background-color: #6B5798;
            border: 3px solid #5E4C86;
            border-radius: 12px;

            cursor: pointer;

        }
    }
}

.none{
    display: none !important;
}